body {
    background-color: #7C4EE0;
    font-family: sans-serif;
    color: rgb(8, 3, 7);

  }
#all{
    display: grid;
    grid-template-columns: 1.25fr 2fr 1.25fr;
    grid-template-rows: auto;
}


#main{
    grid-column: 2;
    grid-row: 1;
}


#navigation button{
    text-align: center;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;

    font-size: 1.8em;
    padding: 0.5em;
    border-radius: 0.25em;
    background: rgb(48, 192, 96);
    transform: skew(-30deg);

    
}

#navigation button:hover{
   background-color: rgb(74, 255, 165);
}
#navigation .buttonText{
    font-size: 0.8em;
    transform: skew(+30deg);

}


#sideBar{
    grid-column: 3;

}
#sideBar button{
    background:rgb(191, 166, 207);
    font-size: 1.4em;
    padding: 0.4em;
    border-radius: 0.5em;
    margin-top: 6em;
    margin-left: 2em;
    margin-bottom: 1em;
}

#submit_player{
    font-size: 1.5em;
    margin-left: 1em;
}

#submit_player input[type="text"]
{
    width:8em;
   
    font-size: 0.8em;
}

#submit_player label{
    display: block;

}


#submit_player input[type="submit"]{
    font-size: 0.8em;
    margin-top: 1em;
    width: 6em;
    height: 1.5em;
    background-color: rgb(74, 255, 165);

}


#personTable{
    border-collapse: collapse;
    border-spacing: 0.5em;
    outline-offset: 15px;
    width: 100%;
    font-size: 2em;
    text-align: center;
    border-radius: 1em;

}



#personTable thead td{
    background:rgb(191, 166, 207);
}
#personTable thead td:first-child{
    border-top-left-radius: 1em;
}

#personTable thead td:last-child{
    border-top-right-radius: 1em;
}
#personTable thead td:hover{
    background-color: rgb(74, 255, 165);
}


#personTable tbody tr:nth-child(even) td{
    background:rgb(191, 166, 207);
}


#personTable tbody tr:nth-child(odd) td{
    background:rgb(173, 120, 175);
}


#personTable tbody tr:last-child td:first-child{
    border-bottom-left-radius: 1em;
}
#personTable tbody tr:last-child td:last-child{
    border-bottom-right-radius: 1em;
}

#personTable td{
    padding: 0.25em;
    font-size: 0.75em;
}
#personTable td:nth-child(2){
    text-align: left;
}

#personTable td:nth-child(3){
    text-align: left;
}


#personTable tbody tr:hover>td{
    background: rgb(74, 255, 165);
    background-color: rgb(74, 255, 165);

}

#player-card-container{
    display: flex;
}

.player-card{
    height: 5em;
    width: 10em;
    background-color:rgb(235, 162, 27);
    background-size: 15em;
    margin:1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 1em;
    font-size: 1.25em;

}

#win-buttons{
    

}

#win-buttons > *{
    display: inline;
    background-color: rgb(48, 192, 96);
    vertical-align: middle;
    margin-left: 1em;
    width: 8em;
    height: 4em;
    font-size: 1em;
    border-radius: 0.5em;
}

#win-buttons> :last-child{

    background-color: rgb(189, 164, 185)

}

#win-buttons > *:hover{
    background-color: rgb(74, 255, 165);
}

#win-buttons> :last-child:hover{

    background-color: rgb(194, 119, 255);

}