
body {
    --background-color-main: #331457;
    --main-color-1:rgb(84, 61, 136);
    --main-color-2: rgb(147, 85, 158);
    --secondary-color:rgb(53, 206, 112);
    --hover-color: rgb(74, 255, 195);
    --tertiary-color:rgb(235, 162, 27);
    --hover-color-2:rgb(194, 119, 255);


    --font-color-1:rgb(223, 212, 215);
 

    background-color: var(--background-color-main);
    font-family: sans-serif;
    color: rgb(8, 3, 7);

  }


#all{
    display: grid;
    grid-template-columns: 1.25fr 2fr 1.25fr;
    grid-template-rows: auto;
}


#main{
    grid-column: 2;
    grid-row: 1;
}
 
#about{
    background:var(--main-color-1);
    color:var(--font-color-1);
    font-size: 1.2em;
   border-radius: 1em;
   padding: 2em;
   margin: 2em;
}



#navigation .icon{
    filter:sepia(0.8) brightness(0.8) saturate(2)  hue-rotate(250deg);


}

#navigation button{
    text-align: center;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

    font-size: 1.8em;
    padding: 0.5em;
    border-radius: 0.25em;
    background:var(--secondary-color);
    transform: skew(-30deg);
    white-space: nowrap;
    
}

#navigation{
    display: flex;
}

#navigation button:hover{
   background-color: var(--hover-color)
}
#navigation .buttonText{
    font-size: 0.8em;
    transform: skew(+30deg);

}


#sideBar{
    grid-column: 3;

}
#sideBar button{
    background:var(--tertiary-color);
    font-size: 1.4em;
    padding: 0.4em;
    border-radius: 0.5em;
    margin-top: 6em;
    margin-left: 2em;
    margin-bottom: 1em;
}

#submit_player{
    font-size: 1.5em;
    margin-left: 1em;
}

#submit_player input[type="text"]
{
    width:8em;
   
    font-size: 0.8em;
}

#submit_player label{
    display: block;

}


#submit_player input[type="submit"]{
    font-size: 0.8em;
    margin-top: 1em;
    width: 6em;
    height: 1.5em;
    background-color: var(--secondary-color)

}
#submit_player input[type="submit"]:hover{
    background-color: var(--hover-color);
}


#personTable{
    border-collapse: collapse;
    border-spacing: 0.5em;
    outline-offset: 15px;
    width: 100%;
    font-size: 2em;
    text-align: center;
    border-radius: 1em;
    color: var(--font-color-1);
    margin-top: 1em;
    margin-bottom: 1em;
}



#personTable thead td{
    background:var(--main-color-2)
}
#personTable thead td:first-child{
    border-top-left-radius: 1em;
}

#personTable thead td:last-child{
    border-top-right-radius: 1em;
}
#personTable thead td:hover{
    background-color: var(--hover-color);
    color: black;
}


#personTable tbody tr:nth-child(even) td{
    background:var(--main-color-2)
}


#personTable tbody tr:nth-child(odd) td{
    background:var(--main-color-1)
}


#personTable tbody tr:last-child td:first-child{
    border-bottom-left-radius: 1em;
}
#personTable tbody tr:last-child td:last-child{
    border-bottom-right-radius: 1em;
}

#personTable td{
    padding: 0.25em;
    font-size: 0.75em;
}
#personTable td:nth-child(2){
    text-align: left;
}

#personTable td:nth-child(3){
    text-align: left;
}


#personTable tbody tr:hover>td{
    background-color:var(--hover-color);
    color: black;

}

#player-card-container{
    display: flex;
    flex-wrap: wrap
}

.player-card{
    height: 5em;
    width: 10em;
    background-color:var(--tertiary-color);
    background-size: 15em;
    margin:1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 1em;
    font-size: 1.25em;

}


#win-buttons > *{
    display: inline;
    background-color: var(--secondary-color);
    vertical-align: middle;
    margin-left: 1em;
    width: 8em;
    height: 4em;
    font-size: 1em;
    border-radius: 0.5em;
}

#win-buttons> :last-child{

    background-color: var(--main-color-2)

}

#win-buttons > *:hover{
    background-color: var(--hover-color)
}

#win-buttons> :last-child:hover{

    background-color:var(--hover-color-2);

}

#games-history{
    background-color: var(--main-color-1);
    color: var(--font-color-1);
    border-radius: 1em;
    font-size: large;
    margin: 0.5em;
    text-align: center;
    width: 30em;
}

#games-history > :last-child{
    display: block;
}

.player-detail{
    border-collapse: collapse;
    border-spacing: 0.5em;
    outline-offset: 15px;
    width: 80%;
    font-size: 1.5em;
    border-radius: 1em;
    background-color:var(--main-color-2);
    padding: 1em;
    color: var(--font-color-1);
    font-weight: bold;
    margin-top: 1.3em;
}

.player-detail > *{
    margin: 0.5em;
}

.chart{
    background-color: var(--font-color-1);
    border-radius: 1em;
    padding: 1em;
    font-size: 0.5em;

}

@media only screen and (max-width: 1000px) {
 

    #main{
        grid-column: 1/4;
        grid-row: 1;
    }
    #navigation button{
        font-size: 200%; 
    }
    #navigation .buttonLetters{

        display: none;

    }
    #navigation .icon{
        font-size: 1.15em;

    }
    #top{
        position: absolute;
        right:1%;
        top:5px;
        display: block;
        flex-wrap: wrap;
    }
    .logged-in-text{
        display:none;
    }

    #main{
        margin:0.8em;
        font-size: 0.8em;
    }
    #personTable td{
        padding: 0.15em;
    }
   
    #games-history{
        grid-column: 1/4;
        grid-row: 1;
        width: 100%;
    }

  }