body {
    background-color: #7C4EE0;
    font-family: sans-serif;
    color: rgb(8, 3, 7);

  }
#root{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}


#main{
    grid-column: 2;
    grid-row: 1;
    margin: auto;
}


#navigation button{
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    font-size: 1.8em;
    padding: 0.5em;
    border-radius: 0.5em;
    background: rgb(48, 192, 96);

}



#personTable{
    display: inline ;
    border-collapse: collapse;
    border-spacing: 0.5em;
    outline-offset: 15px;

    font-size: 2em;
    text-align: center;
    margin-right: 0%;
}

#personTable thead td{
    background:rgb(191, 166, 207);
}
#personTable thead td:nth-child(1){
    border-top-left-radius: 1em;
}
#personTable thead td:hover{
    background-color: rgb(74, 255, 165);
}

#personTable thead td:last-child{
    border-top-right-radius: 1em;
}

#personTable tbody tr:nth-child(even){
    background:rgb(191, 166, 207);
}


#personTable tbody tr:nth-child(odd){
    background:rgb(173, 120, 175);
}


#personTable tbody tr:last-child td:nth-child(1){
    border-bottom-left-radius: 2em;
}
#personTable tbody tr:last-child td:last-child{
    border-bottom-right-radius: 2em;
}

#personTable td{
    min-width: 6em; 
    white-space: nowrap;
}

tr:hover td {
    background: rgb(74, 255, 165);
}

