body {
    background-color: #7C4EE0;
    font-family: sans-serif;
    color: rgb(8, 3, 7);

  }
#root{
    display: grid;
    grid-template-columns: 1.25fr 2fr 1.25fr;
    grid-template-rows: auto;
}


#main{
    grid-column: 2;
    grid-row: 1;
}


#navigation button{
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    font-size: 1.8em;
    padding: 0.5em;
    border-radius: 0.25em;
    background: rgb(48, 192, 96);
    transform: skew(-30deg);

}
.buttonText{
    font-size: 0.8em;
    transform: skew(+30deg);

}



#personTable{
    border-collapse: collapse;
    border-spacing: 0.5em;
    outline-offset: 15px;
    width: 100%;
    font-size: 2em;
    text-align: center;
}

#personTable thead td{
    background:rgb(191, 166, 207);
}
#personTable thead td:nth-child(1){
    border-top-left-radius: 1em;
}
#personTable thead td:hover{
    background-color: rgb(74, 255, 165);
}

#personTable thead td:last-child{
    border-top-right-radius: 1em;
}

#personTable tbody tr:nth-child(even){
    background:rgb(191, 166, 207);
}


#personTable tbody tr:nth-child(odd){
    background:rgb(173, 120, 175);
}


#personTable tbody tr:last-child td:nth-child(1){
    border-bottom-left-radius: 2em;
}
#personTable tbody tr:last-child td:last-child{
    border-bottom-right-radius: 2em;
}

#personTable td{
    min-width: 4em; 
    
    font-size: 0.75em;
}
#personTable td:nth-child(2){
    text-align: left;
}


tr:hover td {
    background: rgb(74, 255, 165);
}

